<% provide(:title, "ログイン") %>
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid">
    <h1>ログイン</h1>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading strong">＜登録済アカウントでログイン＞</div>
            <div class="panel-body">
            <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
              <%= f.label :email, "メールアドレス", class: "label-login" %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password, "パスワード", class: "label-login" %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
            <% end %>
            <!-- 簡単ログイン（管理権限） -->
            <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
              <%= f.hidden_field :email ,value: "testadmin@sample.com" %>
              <%= f.hidden_field :password ,value: "testpassword" %>
              <%= f.submit "簡単ログイン（管理権限）", class: "btn btn-danger btn-login" %>
            <% end %>

            <!-- 簡単ログイン（一般権限） -->
            <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
              <%= f.hidden_field :email ,value: "test@sample.com" %>
              <%= f.hidden_field :password ,value: "testpassword" %>
              <%= f.submit "簡単ログイン（一般権限）", class: "btn btn-warning mb-2 btn-login" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading strong">＜お持ちのSNSアカウントでログイン＞</div>
            <div class="panel-body text-right">
              <%# <div class="login_sns_area"> %>
            <%# <a class="login-title">＜お持ちのSNSアカウントでログイン＞</a> %>
            <!-- Twitterでログイン -->
            <%= link_to '/auth/twitter', class: "btn btn-block btn-social btn-twitter" do %>
              <span class="fa fa-twitter"></span> Twitterアカウントでログイン
            <% end %> 
            <!-- Facebookでログイン -->
            <%= link_to '/auth/facebook', class: "btn btn-block btn-social btn-facebook" do %>
              <span class="fa fa-facebook"></span> Facebookアカウントでログイン
            <% end %> 
            <!-- googleでログイン -->
            <%= link_to '/auth/google_oauth2', class: "btn btn-block btn-social btn-google" do %>
              <span class="fa fa-google"></span> Googleアカウントでログイン
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="signup_text">
      ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>
    </div>
  </div>
</div>

