<% provide(:title, 'お気に入りワイン一覧') %>
<% provide(:button_text, '更新') %>
										
<section class="wines-index">
	<h1>お気に入りワイン</h1>
	<div class="favorites-count">
		<% if @favorites_count == 0 %>
			お気に入りはありません
		<% else %>
			<%= @favorites_count %>件表示
		<% end %>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<% if @wines.empty? %>
			<p class="empty">
				検索結果が見つかりません。<br>
				キーワードを入れなおし、もう一度検索してください。
			</p>
		<% else %>
			<div class="row">
				<% @user.favorites.each do |favorite| %>
					<div class="col-lg-4">
						<div class="card">
							<% if logged_in? %>
								<%= link_to "お気に入りを解除する", add_favorite_path(favorite.wine), method: :delete, class: "btn favorite-btn hover" %>								
							<% end %>
							<div class="card-body">
								<div class="img-area">
									<% if favorite.wine.image? %>
										<%= image_tag favorite.wine.image.to_s %>
									<% else %>
										<%= image_tag "no-image.png", :size =>'230x170' %>
									<% end %>
								</div>
								<h4 class="card-title">
									<%= favorite.wine.name.truncate(30) %><br>
									（<%= favorite.wine.color %>）
								</h4>
								<p class="card-text">＜主要品種＞<br>
								<%= favorite.wine.grape_variety %><br>
								＜生産国＞<br>
								<%= favorite.wine.country %><br>
								</p> 
								 	<div class="wine-show-btn">
										<%= link_to "ワインの詳細を見る", wine_path(favorite.wine), remote: true, class: "btn btn-info" %>					
									</div>
									<div class="wine-rakuten-search-btn">
										<%= link_to "楽天市場で検索する", wines_rakuten_search_path(favorite.wine), remote: true, class: "btn btn-success" %>
									</div>
							</div> <!-- card-body -->
						</div> <!-- card -->
					</div> <!-- col-lg-4 -->				
				<% end %>
			</div>
		<% end %>
	</div>
</section>

<!--モーダルウインドウ表示-->
<div id="show-wine" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-wine" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="rakuten-search" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
