<!-- ワイン編集のフォーム -->

<%= form_with(model: @wine, url: wine_path(@wine), local: true, method: :patch) do |f| %>
	<%= render 'shared/error_messages', object: @wine %>
	<% if @wine.image? %>
		<%= image_tag @wine.image.to_s, id: 'img_prev' %>
	<% else %>
		<%= image_tag "no-image.png", id: 'img_prev' %>
	<% end %>
	
	<%= f.file_field :image, id: 'wine_img' %>

	<%= f.label :name, class: "label-#{yield(:class_text)}" %>
	<%= f.text_field :name, placeholder: "必須項目です", class: "form-control", maxlength: 50 %>

	<%= f.label :color, class: "label-#{yield(:class_text)}" %>
	<%= f.select :color, ['スパークリング', 'ロゼ', '白', '赤', 'オレンジ', '酒精強化', 'フレーヴァード'], {include_blank: '必須項目です'}, class: 'form-control' %>

	<%= f.label :grape_variety, class: "label-#{yield(:class_text)}" %>
  <%= f.select :grape_variety, Wine.grape_varieties.keys.to_a, {include_blank: '必須項目です'}, class: "form-control" %>

	<!-- 国の選択肢 -->
	<%= f.label :country, class: "label-#{yield(:class_text)}" %>
	<%= f.select :country, [ 
			"フランス", 
			"イタリア", 
			"スペイン",
			"ドイツ",
			"ルクセンブルク",
			"イギリス",
			"スペイン",
			"ポルトガル",
			"オーストリア",
			"ハンガリー",
			"モルドバ",
			"北アフリカ",
			"アメリカ合衆国",
			"カナダ",
			"アルゼンチン",
			"チリ",
			"南アフリカ",
			"オーストラリア",
			"ニュージーランド",
			"中国",
			"日本",
			"その他"
		] , {include_blank: '必須項目です'}, class: 'form-control' %>

	<%= f.label :region, class: "label-#{yield(:class_text)}" %>
	<%= f.text_field :region, class: "form-control" %>

	<%= f.label :area, class: "label-#{yield(:class_text)}" %>
	<%= f.text_field :area, class: "form-control" %>

	<%= f.label :body, class: "label-#{yield(:class_text)}" %>
	<%= f.select :body, ['ライトボディ', 'ミディアムボディ', 'フルボディ'], {include_blank: ''}, class: 'form-control' %>

	<%= f.label :appearance, class: "label-#{yield(:class_text)}" %>
	<%= f.text_area :appearance, rows: 6, class: "form-control" %>

	<%= f.label :aroma, class: "label-#{yield(:class_text)}" %>
	<%= f.text_area :aroma, rows: 6, class: "form-control" %>

	<%= f.label :taste, class: "label-#{yield(:class_text)}" %>
	<%= f.text_area :taste, rows: 6, class: "form-control" %>

	<%= f.label :production_year, class: "label-#{yield(:class_text)}" %>
	<%= f.number_field :production_year, class: "form-control" %>

	<%= f.label :alcohol_content, class: "label-#{yield(:class_text)}" %>
	<%= f.number_field :alcohol_content, class: "form-control" %>

	<%= f.label :price, class: "label-#{yield(:class_text)}" %>
	<%= f.number_field :price, class: "form-control" %>

	<%= f.label :detail, class: "label-#{yield(:class_text)}" %>
	<%= f.text_area :detail, rows: 8, class: "form-control" %>

	<div class="center">
		<%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
	</div>
<% end %>