

<% provide(:title, 'ワイン詳細') %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title"><%= @wine.name %>の検索結果</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table-bordered table-condensed">	
            <table class="table table-bordered table-striped table-condensed">    
              <tbody>
                <% @items.each do |item| %>
									<tr>					
										<td><img src="<%= item['smallImageUrls'][0] %>"></td>
										<td><a href="<%= item['itemUrl'] %>" target="_blank"><%= item['itemName'] %></a></td>
										<td><%= item['itemPrice'] %>円</td>
									</tr>
								<% end %>
              </tbody>	
            </table>
          </table>
        </div>
       </div>
      </div>
    </div>
	</div>
</div>