<div class="btn-wine-area">
  <% if logged_in? %>
    <%= link_to new_wine_path, class: "btn btn-primary btn-wine-new" do %>
      <i class="material-icons">add</i>
      <span class="btn-text">ワイン新規登録</span>
    <% end %>
  <% end %>
  <a class="btn btn-primary btn-wine-search" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="material-icons">search</i>
    <span class="btn-text">検索する</span>
  </a> 
</div>

<div class="collapse" id="collapseExample">
  <div class="col-md-8 col-md-offset-2 search-form">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont, placeholder: "ワイン名で検索", class: "form-control" %>
      <br/>

      <div class="form-group">
        <%= f.label :color, "色/分類で検索", class: "control-label" %><br>
        <div class="checkbox-inline">
          <!--  { multiple: true }で復数選択できるようにする -->
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "シャンパン", unchecked_value = "" %>シャンパン
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "シャンパンロゼ", unchecked_value = "" %>シャンパンロゼ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "スパークリング白", unchecked_value = "" %>スパークリング白
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "スパークリングロゼ", unchecked_value = "" %>スパークリングロゼ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "スパークリング赤", unchecked_value = "" %>スパークリング赤
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "白", unchecked_value = "" %>白
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "赤", unchecked_value = "" %>赤
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "オレンジ", unchecked_value = "" %>オレンジ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "酒精強化", unchecked_value = "" %>酒精強化
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "フレーヴァード", unchecked_value = "" %>フレーヴァード
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, checked_value = "ノンアルコール", unchecked_value = "" %>ノンアルコール
        </div>
      </div>

      <div class="form-group">
        <%= f.label :country, "国で検索", class: "control-label" %><br>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "フランス", unchecked_value = "" %>フランス
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "イタリア", unchecked_value = "" %>イタリア
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "スペイン", unchecked_value = "" %>スペイン
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "ドイツ", unchecked_value = "" %>ドイツ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "ルクセンブルク", unchecked_value = "" %>ルクセンブルク
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "イギリス", unchecked_value = "" %>イギリス
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "ポルトガル", unchecked_value = "" %>ポルトガル
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "オーストリア", unchecked_value = "" %>オーストリア
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "ハンガリー", unchecked_value = "" %>ハンガリー
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "モルドバ", unchecked_value = "" %>モルドバ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "北アフリカ", unchecked_value = "" %>北アフリカ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "アメリカ合衆国", unchecked_value = "" %>アメリカ合衆国
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "カナダ", unchecked_value = "" %>カナダ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "アルゼンチン", unchecked_value = "" %>アルゼンチン
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "南アフリカ", unchecked_value = "" %>南アフリカ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "オーストラリア", unchecked_value = "" %>オーストラリア
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "ニュージーランド", unchecked_value = "" %>ニュージーランド
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "中国", unchecked_value = "" %>中国
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "日本", unchecked_value = "" %>日本
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :country_eq_any, {multiple: true}, checked_value = "その他", unchecked_value = "" %>その他
        </div>
      </div>
      <br/>
      
      <%= f.select :body_cont, ['ライトボディ', 'ミディアムボディ', 'フルボディ'], {include_blank: 'ボディで検索'}, class: 'form-control' %>
      <br/>
      <!-- eqはイコール -->
      <%= f.number_field :production_year_eq, placeholder: "生産年で検索", class: "form-control" %>

      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

