<div class="btn-wine-area">
  <% if logged_in? %>
    <%= link_to new_wine_path, class: "btn btn-primary btn-wine-new" do %>
      <i class="material-icons">add</i>
      <span class="btn-text">ワイン新規登録</span>
    <% end %>
  <% end %>
  <a class="btn btn-primary btn-wine-search" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="material-icons">search</i>
    <span class="btn-text">検索する</span>
  </a> 
</div>

<div class="collapse" id="collapseExample">
  <div class="col-md-8 col-md-offset-2 search-form">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont, placeholder: "ワイン名で検索", class: "form-control" %>
      <br/>

      <div class="form-group">
        <%= f.label :color, "色/分類で検索", class: "control-label" %><br>
        <div class="checkbox-inline">
          <%= f.check_box :color_true_any, {multiple: true}, "スパークリング" %>スパークリング
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_true_any, {multiple: true}, "白" %>白
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_true_any, {multiple: true}, "赤" %>赤
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, "オレンジ" %>オレンジ
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, "酒精強化" %>酒精強化
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, "フレーヴァード" %>フレーヴァード
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :color_eq_any, {multiple: true}, "ノンアルコール" %>ノンアルコール
        </div>
      </div>


      <br/>
      <%= f.select :country_cont,
      [  
          "フランス", 
          "イタリア", 
          "スペイン",
          "ドイツ",
          "ルクセンブルク",
          "イギリス",
          "スペイン",
          "ポルトガル",
          "オーストリア",
          "ハンガリー",
          "モルドバ",
          "北アフリカ",
          "アメリカ合衆国",
          "カナダ",
          "アルゼンチン",
          "チリ",
          "南アフリカ",
          "オーストラリア",
          "ニュージーランド",
          "中国",
          "日本",
          "その他"
        ], 
      {include_blank: '国で検索'}, class: 'form-control' %>
      <br/>
      <%= f.select :body_cont, ['ライトボディ', 'ミディアムボディ', 'フルボディ'], {include_blank: 'ボディで検索'}, class: 'form-control' %>
      <br/>
      <!-- eqはイコール -->
      <%= f.number_field :production_year_eq, placeholder: "生産年で検索", class: "form-control" %>

      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

