<% provide(:title, 'ワイン一覧') %>
<% provide(:button_text, '更新') %>
										
<section class="wines-index">
	<h1>ワイン一覧</h1>
	<%= render 'search_form' %><br>
	<div class="col-md-10 col-md-offset-1">
		<% if @wines.empty? %>
			<p class="empty">
				検索結果が見つかりません。<br>
				キーワードを入れなおし、もう一度検索してください。
			</p>
		<% else %>
			<div class="wines-count">
				<%= @wines.count %>件あります
			</div>
			<%= will_paginate %>
			<div class="row">
				<% @wines.each do |wine| %>
					<div class="col-lg-4">
						<div class="card">		
							<% if logged_in? %>
								<%= link_to "編集", edit_wine_path(wine), class: "btn btn-primary wine-edit-btn" %>
								<% if !current_user.admin? %>
									<% if !Favorite.exists?(user_id:current_user.id,wine_id:wine.id) %>
										<!--
										<div class="favorite-area">
											<%= link_to add_favorite_path(wine), method: :post, class: "favorite-btn nomal" do %>
												<i class="material-icons favorite-icon">favorite_border</i>
												<span class="favorite-text"></span>
											<% end %>
										</div>
										-->
										<%= link_to "お気に入りに追加", add_favorite_path(wine), method: :post, class: "btn favorite-btn hover" %>
									<% else %>
										<!-- 
										<div class="favorite-area">
											<%= link_to add_favorite_path(wine), method: :delete, class: "favorite-btn nomal" do %>
												<i class="material-icons favorite-icon">favorite</i>
												<span class="favorite-text"></span>
											<% end %>
										</div>
										-->
										<span class="btn btn-default favorite-btn2">追加済み</span>
									<% end %>
								<% end %>
							<% end %>
						
							<div class="card-body">						
								<div class="img-area">
									<% if wine.image? %>
										<%= image_tag wine.image.to_s %>
									<% else %>
										<%= image_tag "no-image.png", :size =>'230x170' %>
									<% end %>
								</div>
								<div class="text-area">
									<h4 class="card-title">
										<!-- 50文字まで表示させる -->
										<%= wine.name.truncate(35) %>（<%= wine.color %>）
									</h4>
									<p class="card-text">主要品種：<%= wine.grape_variety %><br>
									国：<%= wine.country %><br>
									<% if wine.production_year.present? %>
										生産年：<%= wine.production_year %>年
									<% else %>
										生産年：- 年
									<% end %>
								</div>
								</p> 
								 	<div class="wine-show-btn">
										<%= link_to "ワインの詳細を見る", wine_path(wine), remote: true, class: "btn btn-info" %>					
									</div>
									<div class="wine-rakuten-search-btn">
										<%= link_to "楽天市場で検索する", wines_rakuten_search_path(wine), remote: true, class: "btn btn-success" %>
									</div>	
							</div> <!-- card-body -->
						</div> <!-- card -->
					</div> <!-- col-lg-4 -->				
				<% end %>
			</div>
			<%= will_paginate %>
		<% end %>
	</div>
</section>

<!--モーダルウインドウ表示-->
<div id="show-wine" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-wine" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="rakuten-search" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>