<% provide(:title, 'ワイン一覧') %>
<% provide(:button_text, '更新') %>

<h1>ワイン一覧</h1>
<%= render 'search_form' %><br>
<div class="col-md-10 col-md-offset-1">
	<% if logged_in? %>
		<div class="">
			<%= link_to "ワイン新規登録", new_wine_path, class: "btn btn-primary btn-new" %>	
		</div>
	<% end %>
	<% if @wines.empty? %>
		<p class="empty">
			検索結果が見つかりません。<br>
			キーワードを入れなおし、もう一度検索してください。
		</p>
	<% else %>
		<%= will_paginate %>
		<div class="row">
			<% @wines.each do |wine| %>
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<% if wine.image? %>
								<%= image_tag wine.image.thumb.url, :size =>'230x170'  %>
							<% else %>
								<%= image_tag "no-image.png", :size =>'230x170' %>
							<% end %>
							<h4 class="card-title">
								<%= wine.name %>（<%= wine.color %>）
				　		</h4>
							<p class="card-text">
								品種：<%= wine.grape_variety %>			
							</p>
							<p class="card-text">		
								国：<%= wine.country %>							
							</p>	
							<%= link_to "詳細を見る", wine_path(wine), class: "btn btn-success" %>
						</div> <!-- card-body -->
					</div> <!-- card -->
				</div>						
			<% end %>
		</div>
		<%= will_paginate %>
	<% end %>
</div>