<header class="navbar navbar-fixed-top navbar-inverse">
   <nav class="">
         
    <!--ウィンドウ幅に合わせて可変-->
    <div class="container-fluid">   
      <div class="navbar-header">
 
        <!--スマホ用トグルボタンの設置-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          
        <!--ロゴ表示の指定-->
        <%= link_to "Wine Management App", root_path, id: "logo" %>
      </div>
        
      <!--スマホ用の画面幅が小さいときの表示を非表示にする-->
      <div id="navbar" class="navbar-collapse collapse">
          
        <ul class="nav navbar-nav">
          <li>
            <%= link_to root_path, class: "header_main" do %>
              <i class="material-icons">arrow_upward</i>
              <span>TOP</span>
            <% end %>
          </li>
          <li>
            <%= link_to wines_path, class: "header_main" do %>
              <i class="material-icons">local_bar</i>
              <span>ワイン一覧</span>
            <% end %>
          </li>
        <% if logged_in? %>
          <% if !current_user.admin? %>
            <li>
              <%= link_to favorites_path(current_user), class: "header_main" do %>
                <i class="material-icons">favorite</i>
                <span>お気に入り</span>
              <% end %>
            </li>
          <% end %>
          <% if current_user.admin? %>
          <li>
            <%= link_to users_path, class: "header_main" do %>
              <i class="material-icons">people_alt</i>
              <span>ユーザ一覧</span>
            <% end %>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle header_main" data-toggle="dropdown">
              <i class="material-icons ">account_circle</i>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if !current_user.admin? %>
                                      <!-- edit_user_path で現在ログイン中のユーザーIDをリソースに当てはめる-->
                <li><%= link_to "マイページ", edit_user_path(current_user), class: "dropdown-menu_text" %></li>
                <li class="divider"></li>
              <% end %>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-menu_text" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to login_path, class: "header_main" do %>
              <i class="material-icons">input</i>
              <span>ログイン</span>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</header>
